body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: rgb(209, 205, 205);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header-container {
    display: flex;
    background-color: #22572e;
    color: white;
    padding: 20px;
    align-items: center;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 200px;
    animation: dropIn 2s ease forwards;
}

@keyframes dropIn {
    0% {
        transform: translateY(-100px); 
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.header-text h1 {
    font-size: 2em;
    margin: 0;
}
.header-info {
    font-size: 1em;
    line-height: 1.5;
}
.header-info a {
    color: #48c97c; /* Light blue links */
    text-decoration: none;
}
.section h2 {
    color: #2c3e50;
    border-bottom: 2px solid #48c97c;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    padding: 5px 0;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}
.section a {
    color: #000; /* Set a default color for links inside sections */
    text-decoration: none; /* Removes underline from all links */
    transition: color 0.3s; /* Smooth transition for color change */
}

.section a:hover, .section a:focus {
    color: #4CAF50; /* Changes color on hover/focus for better visibility */
    text-decoration: underline; /* Adds underline on hover/focus */
}
